:root {
    --bg-color: #242424;
    --txt-color: #cccccc;
    --box-bg-color: #242424;
    --header-bg-color: #363636;
    --title-bg-color: #242424;
    
    --primary-color: #03dac6;
    --secondary-color: #3750c3;
    --txt-inp-color: #aaaaaa;
    --inp-bg-color: #363636;
    --txt-button-color: #dddddd;
}

* {
	font-family: 	sans-serif;											
    font-size:		12px;    
}

body {	
	background:     var(--bg-color);	
    margin:         0;
    color:          var(--txt-color);
}

.hidden {
    display:        none !important;
}

div.box {               
    border: 0;    
    margin:         4px;
    background:     var(--box-bg-color);
    padding:        10px;    
    border-radius:  0px;        
    /*-webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);*/
}

div.exportBox {    
    position:       absolute;    
    top:            50%;
    left:           50%;
    transform:      translate(-50%, -50%);
    width:          100vw;
    height:         100vh;
    margin:         0 auto;    
    background:     black;
    opacity:        0.8;
}

div.centerdiv {
    padding:        0;
    margin:         auto;
    display:        block;
    width:          600;
    height:         40;
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;
}

div.header {    
    display:        flex;
    min-height:     128px;        
    justify-content: space-between;
    align-items:    flex-start;    
    top: 0;
    margin:         0px !important;
    margin-bottom:  4px !important;
    background:     var(--header-bg-color) !important;    
    position: -webkit-sticky; /* Safari */
    position: sticky;    
     
    /*-webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);*/
}

div.projectbox {
    position: fixed;
    top: 10px;
    right: 10px;
    border:         2px solid var(--primary-color);
    border-radius:  24px;
    padding-left:   24px;
    padding-right:   24px;
    background:     var(--box-bg-color) !important;
    max-width:      20vw;
    float:          right;
    margin:         10px !important;        
    max-height:     3em;
    overflow:       hidden;
    transition: 3.75s ease-out;
    min-width:      250px;
    /*-webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,1);*/
}

div.projectbox:hover {
    max-height:     100% !important;    
}

div.projectbox a, button, div.exportBox a {    
    text-transform: uppercase;
    text-align: center;
    margin: 2px;
    color:  var(--txt-button-color) !important;
    border: 0;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    /*background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);*/
    background: var(--inp-bg-color);
    text-decoration: none;    
}

div.exportBox a {
    min-width: 120px !important;
}

div.projectbox a {
    display: block;
}

div.projectbox a:active, button:active, div.exportBox a:active {        
    /*border: 2px solid var(--secondary-color);*/
    /*background: var(--secondary-color) !important;
    color:  var(--txt-button-color) !important;*/
}

div.projectbox a:hover, button:hover, div.exportBox a:hover {        
    background: var(--primary-color);
    color: #000000 !important;
}

div.workspace {
    display:        flex;
    flex-wrap:      wrap;    
    
}

img.titleImg {    
    margin-right:   10;    
}

div.title {
    display:        flex;
    min-height:     64px;    
    align-items:    center;
    margin:         auto;
    margin-left:    30px;
}

span.title {    
    font-size:      3em;
    font-weight:    bold;    
}

span.dataInfo {
    font-weight: bold;
    color: var(--primary-color);
}


div.svgbox {
    margin:         10px;
    background:     var(--txt-inp-color);
    padding:        10px;    
    border:         1px solid black;
    border-radius:  0;    
    align-content:  center;
    max-width:      45vw;
}

div.dropzone {
    min-height:     100px;
    border:         2px solid var(--primary-color);
    border-radius:  24px;
    padding:        24px;
    margin:         10px;
}

h2 {
    text-transform: uppercase;
    border: 0;
    /*border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);*/
    margin:         0px;
    margin-bottom:  10px;    
    font-size:      1.3em;
    /*border-bottom:  1px solid #242424;*/
    background:     var(--title-bg-color);
    padding:        10px;
    padding-left:   0;
    color:          var(--primary-color);
}

a {
    color: #ffffff;
}

table {      
    border-spacing: 0 4px;    
}

tr {    
    transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;        
}

tr.rowSelected {
    background-color:     var(--secondary-color) !important;
}

tr.enHover:hover {
    background-color:     var(--secondary-color) !important;
}

td.imgOK {        
    border: 0;
    border-left: 3px solid limegreen;    
    padding-left: 10px !important;
}

td.imgSpare {        
    border: 0;
    border-left: 3px solid #888888;
    padding-left: 10px !important;
}

td.imgNOK {
    border: 0;
    border-left: 3px solid red;
    padding-left: 10px !important;
}

td.imgPrc {
    border: 0;
    border-left: 3px solid magenta;
    padding-left: 10px !important;
}

td.imgBadQual {
    border: 0;
    border-left: 3px solid orange;
    padding-left: 10px !important;
}

td {    
    margin:         0px;
    padding-left:   5px;
    padding-right:   5px;            
}

input, select {    
    margin-left:    5px;
    margin-right:   5px;    
}

select {
    text-transform: uppercase;
}

input[type="number"],input[type="text"],select {   
    border: 0;
    border: 2px solid var(--secondary-color);
    background: var(--inp-bg-color);
    color:  var(--txt-inp-color);
    border-radius: 4px;
    padding: 2px;
    outline: none;    
    transition: 0.25s;
}

input[type="number"] {
    text-align: right;    
}

input[type="number"]:focus,input[type="text"]:focus,select:focus {    
    border: 2px solid var(--primary-color) !important;
}

input.smallField {
    width:          60px;
}

input.largeField {
    width:          150px;
}

button.editorbutton {
    width:          40px;
    /*height:         20px;*/
}

button.editorbutton span {
    background-position: center;
    background-repeat: no-repeat;
    padding-left:   15px;
}

button.del span {    
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABEUlEQVQ4jZXTvU4CQRTF8d9uCPERLLe08hnwAYiNJQ9gpDF81Ba2oI0SHoESY6zdZ7C0orSgNmYLYsGsDjionGayd+//7NwzOxksWs0jPGCGq6KspLRoNeEaZzgtyuo1C/AzDkPfCMNtkwCP0QulN5zkeIpgGGAcgF2wwDzmmCd226tNdsC15g30cYCLhAnkuEzAdxhmYYs57nGeaExpgm5RVrK6sofJF4xvg3+abMCs54u1wscvX//xLh4BbqUDi3WD/sYIe8A/TLI/znka1lQmIwwb1v/2LrgbPW+bDPCeo5OA67RXRVmtgtE00dfJ0cYyKt7VcF2ITCZR3xLtOsRj60s1k7iJtaK8ztAuyurlE2O/YTaNFGIGAAAAAElFTkSuQmCC');
}

button.up span {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA0klEQVQ4jc3SoUpEURjE8d8uIoYNhg2mTQaLwSCIwWAUkzLN7Dajb2EyGUTMByw+iIrVBzCYxGQy7N7Lulyue8XgxDnzH76Bw79Wkp0ke22ZXgs8wAOWsVlKeW/K9VvKL7COES47XZDkEPdz9nEp5e7HgiRDPGNt7unNZMrrrPltQhK4aoBhiOtpprkAJzhqgCsd4HTWqCckGeEJqy0F8IGtUspLfUGSPm4WgGGA2ylTTzjD/gJwpV2cQy/JhsmHWelQAJ/YXsIYjx3hSuNfcn+oL7xAKDEBK+ykAAAAAElFTkSuQmCC');
}

button.dwn span {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA60lEQVQ4jcWRoWoDQRCGv0siqiJPlvihIhAVVRUbNY9QYgrNyT5BoaJPEOKqxpQSG1OqCyUwENMHOFWiElNq9mC5Xu+4iOQ3u/vt/88ss3BuJar6AIyATmCdGj/AT7R+9IBnYA5ctGy+B7Kuu+cicgAmLQvcm9lL8dwn4K1F+D1kSAqiqgPgE+g3hHfA0My+ALoFdfdvEcmBaUOBWzNbF4fyxJfAa014BSxikJQdqpoCGyAtXeXAlZnlMfzz58FwU9F9Vg5DNINY7r4VkUtgGNDSzB6rvL0qGHQHXId9VuP7X6o6VtXxUeGT6ReF6zqfmcD9dgAAAABJRU5ErkJggg==');    
}